html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: rgb(52, 206, 142);
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
    font-size: 75%;
  }  

  html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: rgb(52, 206, 142);
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
    font-size: 75%;
  }  

  @media (min-width: 700px) {
      .adaptive {
        display: grid;
        grid-template-areas: 
            "post-1 post-1 post-1 post-1"  
            "post-2 post-2 post-2 post-2"  
            "post-3 post-3 post-3 post-3"
            "post-4 post-4 post-5 post-5"
            "post-6 post-6 post-7 post-7"
            "post-8 post-8 post-9 post-9";
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
    
    .adaptive article:nth-child(1) { grid-area: post-1; }
    .adaptive article:nth-child(2) { grid-area: post-2; }
    .adaptive article:nth-child(3) { grid-area: post-3; }
    .adaptive article:nth-child(4) { grid-area: post-4; }
    .adaptive article:nth-child(5) { grid-area: post-5; }
    .adaptive article:nth-child(6) { grid-area: post-6; }
    .adaptive article:nth-child(7) { grid-area: post-7; }
    .adaptive article:nth-child(8) { grid-area: post-8; }
    .adaptive article:nth-child(9) { grid-area: post-9; }
    .adaptive article:nth-child(10) { grid-area: post-10; }
  }

@media (min-width: 1400px) {
      .adaptive {
        display: grid;
        grid-template-areas: 
            "post-1 post-1 post-2 post-2"  
            "post-3 post-3 post-3 post-3"  
            "post-4 post-4 post-5 post-5"
            "post-6 post-7 post-8 post-9";
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
    
    .adaptive article:nth-child(1) { grid-area: post-1; }
    .adaptive article:nth-child(2) { grid-area: post-2; }
    .adaptive article:nth-child(3) { grid-area: post-3; }
    .adaptive article:nth-child(4) { grid-area: post-4; }
    .adaptive article:nth-child(5) { grid-area: post-5; }
    .adaptive article:nth-child(6) { grid-area: post-6; }
    .adaptive article:nth-child(7) { grid-area: post-7; }
    .adaptive article:nth-child(8) { grid-area: post-8; }
    .adaptive article:nth-child(9) { grid-area: post-9; }
    .adaptive article:nth-child(10) { grid-area: post-10; }
  }